<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap{{ name_mod }}.css">
    <link rel="stylesheet" type="text/css" href="/static/css/fontawesome.all.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <a class="navbar-brand">{{ title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item mx-1 w-100">
                    <select class="form-control w-100" id="configSelect" onchange="navigateToConfig()">
                        {% for user_config_name, user_config in user_config_store.items() %}
                        <option value="/config/{{ user_config_name }}" {% if user_config_name==current_user_config_name
                            %}selected{% endif %}>{{
                            user_config.get_friendly_name() }}</option>
                        {% endfor %}
                    </select>
                </li>
                <li class="nav-item mx-1 btn-group">
                    <button class="btn btn-primary" type="button" onclick="saveConfig()">Save</button>
                    <button class="btn btn-primary dropdown-toggle dropdown-toggle-split" id="navbarDropdown"
                        data-toggle="dropdown">
                    </button>
                    <ul class="dropdown-menu">
                        <li><button class="dropdown-item menu-primary btn-primary" type="button" onclick="saveConfig()">
                                Save changes</button></li>
                        <li><button class="dropdown-item menu-danger btn-danger" type="button" id="menu-discard">
                                Discard changes</button></li>
                        <li class="dropdown-divider"></li>
                        <li><button class="dropdown-item menu-success btn-success" type="button">
                                Launch main program</button></li>
                        <li><button class="dropdown-item menu-danger btn-danger" type="button">
                                Terminate editor</button></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div class="mt-2" id="flash-container">
        <div class="container col-md-8">
            {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="alert alert-{{ category }}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="container col-md-8">
        <input id="input" type="hidden" name="json">
        <div id='editor-container'></div>

        <div class="d-flex float-right justify-content-end col-md-2" id="action-button-container">
            <button class="btn btn-primary w-100" type="button" onclick="saveConfig()">Save</button>
            <div class="mx-1"></div>
            <button class="btn btn-danger w-100" type="button">Discard</button>
        </div>
        <h2>Get params</h2>
        <pre id="get-params"></pre>
    </div>
    <script src="/static/js/jquery.slim{{ name_mod }}.js"></script>
    <script src="/static/js/bootstrap.bundle{{ name_mod }}.js"></script>
    <script src="/static/js/jsoneditor{{ name_mod }}.js"></script>
    <script src="/static/js/index.js"></script>
</body>

</html>