<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/fontawesome.all.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">{{ title }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item mx-lg-1 w-100 my-2 my-lg-0">
                        <select class="form-select w-100" id="configSelect" onchange="navigateToConfig()"
                            aria-label="Select config">
                            {% for user_config_name, user_config in user_config_store.items() %}
                            <option value="/config/{{ user_config_name | safe }}" {% if
                                user_config_name==current_user_config_name %}selected{% endif %}>{{
                                user_config.get_friendly_name() | safe }}</option>
                            {% endfor %}
                        </select>
                    </li>
                    <li class="nav-item mx-lg-1 btn-group dropdown" id="action-dropdown-group">
                        <button class="btn btn-primary save-action" type="button">Save</button>
                        <button class="btn btn-primary dropdown-toggle dropdown-toggle-split" type="button"
                            id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><button class="dropdown-item menu-primary btn-primary save-action" type="button">
                                    Save changes</button></li>
                            <li><button class="dropdown-item menu-danger btn-danger reset-action" type="button"
                                    id="menu-discard">
                                    Reset</button></li>
                            <li class="dropdown-divider"></li>
                            <li><button class="dropdown-item menu-success btn-success launch-action" type="button">
                                    Launch main program</button></li>
                            <li><button class="dropdown-item menu-danger btn-danger terminate-action" type="button">
                                    Terminate editor</button></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid mt-3 mb-5" id="main-page-container">
        <div class="row justify-content-center" id="main-page">
            <div class="col-12 col-lg-10 col-xl-8">
                <div class="row" id="flash-container">
                    <div class="col" id="flash-messages">
                        {% for category, message in get_flashed_messages(with_categories=true) %}
                        <div class="alert alert-{{ category | safe }} alert-dismissible fade show" role="alert">
                            <div>{{ message | safe }}</div>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row" id="profile-container">
                    <div class="col" id="profile">
                        <div class="card card-body mb-2 bg-light">
                            <div class="row">
                                <div class="col-12 col-lg-4 col-xl-5">
                                    <h2>Profile</h2>
                                </div>
                                <div class="col-12 col-lg-8 col-xl-7 d-flex justify-content-end align-items-start"
                                    id="profile-manage">
                                    <input class="form-control me-1 border-primary" id="profile-name-edit"
                                        title="Edit Profile Name" placeholder="Input a profile name..."
                                        style="display: none;">
                                    <div class="btn-group" role="group" aria-label="Confirm edit"
                                        id="profile-confirm-group" style="display: none;">
                                        <button type="button" class="btn btn-primary" id="profile-confirm">Confirm
                                            Add</button>
                                        <button type="button" class="btn btn-danger" id="profile-cancel">Cancel</button>
                                    </div>
                                    <div class="btn-group" role="group" aria-label="Edit profiles"
                                        id="profile-edit-group">
                                        <button type="button" class="btn btn-primary" id="profile-add">Add</button>
                                        <button type="button" class="btn btn-primary"
                                            id="profile-rename">Rename</button>
                                        <button type="button" class="btn btn-danger" id="profile-delete">Delete</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <select class="form-select w-100" id="profileSelect" onchange="navigateToProfile()"
                                        aria-label="Select profile">
                                        {% for profile_name in profile_names %}
                                        <option
                                            value="/config/{{ current_user_config_name | safe }}/{{ profile_name | safe }}"
                                            {% if profile_name==current_profile_name %} selected {% endif %}>
                                            {{ profile_name | safe }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="form-container">
                    <div class="col-12 col-lg-8" id="editor">
                        <h2>
                            Editor
                            <span class="spinner-border text-primary" role="status" id="editor-loading-icon"></span>
                        </h2>
                        <div class="row" id="editor-container"></div>

                        <div class="row justify-content-between justify-content-lg-end" id="form-action-group">
                            <div class="col-5 col-lg-4 col-xl-3">
                                <button class="btn btn-primary w-100 save-action" type="button">Save</button>
                            </div>
                            <div class="col-5 col-lg-4 col-xl-3">
                                <button class="btn btn-danger w-100 reset-action" type="button">Reset</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4" id="dashboard">
                        <div class="row" id="json-preview">
                            <div class="col">
                                <h2>Preview json</h2>
                                <button class="btn btn-primary w-100" type="button" disabled>Edit json</button>
                                <textarea id="json-preview-text" class="form-control code-text" title="Preview json"
                                    placeholder="After the editor is loaded, the corresponding json string will show here."
                                    readonly></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="main-output">
                    <div class="col">
                        <h2>
                            Output of main program
                            <span class="spinner-border text-primary" role="status"
                                id="main-program-running-icon"></span>
                        </h2>
                        <textarea id="main-output-text" class="form-control code-text" title="Output of main program"
                            placeholder="After you launch the main program, the output will show here. Resets when refreshing the page."
                            readonly></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/jquery.slim.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/jsoneditor.min.js"></script>
    <script src="/static/js/index.js"></script>
</body>

</html>