* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html * {
    scroll-margin-top: 5rem;
}

h2>.spinner-border {
    --bs-spinner-border-width: 0.2em;
    display: none;
}

#editor-container .editor-check {
    padding-left: 0;
}

#editor-container .editor-check-input {
    position: relative;
}

#editor-container .check-input-plain {
    top: .3rem;
}

#editor-container .check-input-heading {
    top: .4rem;
}

#editor-container .je-switcher {
    padding: .25rem 2.25rem .25rem .75rem !important;
    margin-bottom: .25rem !important;
}

#editor-container .je-object__controls {
    top: -.15rem;
}

#editor-container .card-title {
    margin-bottom: 0rem;
}

#editor-container .level-1 {
    margin-bottom: 0.2rem;
}

#editor-container .user-add-item {
    display: inline-block;
    font-weight: bolder;
    margin-right: .75rem;
}

/* small */
@media (max-width: 992px) {
    #action-dropdown-group {
        width: 100%;
    }

    #action-dropdown-group .dropdown-menu {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        transform: translateY(0);
    }
}

/* large */
@media (min-width: 992px) {
    #action-dropdown-group {
        width: auto;
    }

    #form-action-group>div {
        padding-left: 0;
    }
}

.menu-primary:hover {
    background-color: var(--bs-primary);
    color: var(--bs-white);
}

.menu-success:hover {
    background-color: var(--bs-success);
    color: var(--bs-white);
}

.menu-danger:hover {
    background-color: var(--bs-danger);
    color: var(--bs-white);
}

.btn-close {
    transform: scale(0.75);
}

.code-text {
    font-family: monospace;
}

#json-preview-text {
    min-height: 40rem;
}

#save-output-text {
    min-height: 20rem;
}

#main-output-text {
    min-height: 30rem;
}